.upload-outer-container{
    margin:auto;
    margin-top: 5%;
    background-color: #EAEAEA;
    width:30%;
    height:30vh;
    border-radius: 8px;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.upload-container{
    width:50%;
    height:60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.1);
    background-color: #D9D9D9;
}
.upload-container:hover{
    width:52%;
    height: 62%;
}
.upload-outer-container input{
    display: none;
}
.upload-label p{
    font-size: 10px;
    margin: 0px;
}
@media(max-width:800px){
    .upload-label p{
        font-size: 4px;
        margin: 0px;
    }
    .upload-container{
        border-radius: 2px;
    }
    .upload-outer-container{
        border-radius: 2px;
    }
}