.uploaded-outer-container{
    width:100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    margin-top:10px;
    flex-direction: column;
    align-items: center;
}
.uploaded-inner-container{
    width:60%;
    height: 100%;
    background-color: #ffffff; 
    filter: brightness(97%);
    border-radius: 5px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    overflow: auto;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.uploaded-inner-container img{
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}
.uploaded-inner-image-container{
    position:relative;
    flex-direction: column;
    height:190px;
    width: 127px;
    margin:20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    transition: all 1s ease;
}
.uploaded-inner-image-container p{
    font-size: 10px;
    margin: 1px;
}
.uploaded-inner-image-container-table-extraction{
    position:relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: all 1s ease;
    padding: 30px;
    border-radius: 15px;
    background-color: #ffffff;
    filter: brightness(97%);
    height: 100%;
}
.uploaded-inner-image-container-table-extraction p{
    font-size: 10px;
    margin: 1px;
}
.uploaded-inner-image-container-table-extraction img{
    max-height: 100%;
    max-width: 100%;
    cursor: pointer; 
}
.uploaded-inner-container-table-extraction{
    position:relative;
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    width:50%;
    height: 90%;
    background-color: #ffffff;
    filter: brightness(97%);
    border-radius:10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow:auto;
}
.cross-buttons{
    position:absolute;
    right:5px;
    top:5px;
    height:15px;
    width:15px;
    background-color:red;
    filter: brightness(90%);
    border-radius:20px;
    content:'x';
    cursor:pointer;
    border:2px solid black;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:Arial, sans-serif;
    line-height:1;
    font-size:10px;
    transition: all 0.1s ease;
}
.cross-buttons::after{
    content: 'x';
    font-size: 8px;
}
.cross-buttons:hover{
    height:16px;
    width: 16px;
}
.indexing-div{
    position:absolute;
    left:2px;
    top:2px;
    width: 20px;
    height: 20px;
    background-color: rgb(63, 63, 63);
    color: white;
    border-radius: 5px;
}